---
import '../styles/andrew.css'
---
<section id="andrew-section" class="md:px-0 md:flex-row andrew-section md:justify-center md:items-center">
  <main class="flex flex-col h-full w-full md:flex-row items-center justify-center md:h-[650px]">
    <div class="md:h-auto md:w-auto h-full flex flex-col md:justify-center w-full">
      <h1
        class="text-white
              text-4xl
              font-medium
              [text-wrap:balance]
              leading-[110%]
              md:leading-[59.04px]
              w-[676px]
              md:w-[400px]
              md:text-6xl
              max-w-full
              andrew_main_text
              md:mb-2
              "
      >
        Character Point Drawing
      </h1>
      <div
        class="andrew-bg
              text-white
              text-opacity-70
              text-lg
              font-semibold
              leading-10
              capitalize
              md:text-3xl
              mt-1
              bg-blue-700
              rounded-full
              w-[50px]
              h-[40px]
              flex
              justify-center
              items-center
              "
      >
        <div class="andrew-container flex flex-auto justify-center items-center">
          <span class="text-sm md:text-[20px] [text-wrap:nowrap]">TACO Lezhin</span>
        </div>
      </div>
      <p class="mt-3 w-full md:w-[450px] text-md font-extralight md:text-md andrew-ph">
        Esta es una guía clásica que ayuda a artistas a dibujar personajes de manera más rápida y eficiente. El método consiste en dibujar un personaje en una pose base y luego dibujar el mismo personaje en diferentes poses usando la pose base como referencia. Este método es muy útil para artistas que no tienen mucha experiencia dibujando personajes en diferentes poses.
      </p>
    </div>
    <div class="w-full p-2 mt-4 bg-white md:h-full md:w-auto md:m-5 andrew-cover">
      <img src="/CPD.jpg" alt="FDFAIW cover" class="w-[300px] h-auto m-auto md:h-full md:w-auto andrew-img ">
    </div>
  </main>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const ScrollTriggerOptions = {
    trigger: ".andrew-section",
    start: "top 50%",
    end: "top 20%",
    scrub: 1,
    markers: true,
    toggleActions: "restart none none none",
  }

  let AnimateTextTimeline = gsap.timeline({defaults: {stagger: .5},scrollTrigger:ScrollTriggerOptions});
  let AnimateImgTimeline = gsap.timeline({defaults: {stagger: .5},scrollTrigger:ScrollTriggerOptions});

  
  let mm = gsap.matchMedia()
  let breakpoint = 768



  function AnimateMainText(){
    return gsap.from(".andrew_main_text",{
        opacity: 0,
      })
  }

  function AnimateBackground(){
    return gsap.from(".andrew-bg", {
        opacity: 0,
      })
  }

  function SizeBackground(isDesktop){
      return gsap.to(".andrew-bg", {
          width: isDesktop ? "270px" : "200px",
      })
  }

  function AnimateContainer(){
      return gsap.from(".andrew-container", {
          opacity: 0,
      })
  }

  function AnimateParagraph(){
      return gsap.from(".andrew-ph",{
          opacity: 0,
      })
  }

  function AnimateCover(){
      return gsap.from(".andrew-cover",{
        height: 0,
      })
  }

  function AnimateImg(){
      return gsap.from(".andrew-img",{
        opacity: 0,
      })
  }

  mm.add({
      isDesktop: `(min-width: ${breakpoint}px)`,
      isMobile: `(max-width: ${breakpoint - 1}px)`,
      
    },
    (context) => {
      let { isDesktop, isMobile } = context.conditions;

      AnimateTextTimeline
      .add(AnimateMainText())
      .add(AnimateBackground())
      .add(SizeBackground(isDesktop))
      .add(AnimateContainer())
      .add(AnimateParagraph());

      AnimateImgTimeline
      .add(AnimateCover())
      .add(AnimateImg());
      return () => {};
    }
  );
</script>
