<section class="flex flex-col p-3 md:px-0 h-screen md:flex-row justify-center items-center james-section">
    <main class="flex flex-col md:flex-row justify-center items-center md:h-[650px] w-full">
        <div class="md:h-auto md:w-auto flex flex-col md:justify-center w-full">
          <h1
            class="text-primary
                  text-4xl
                  font-medium
                  [text-wrap:balance]
                  leading-[110%]
                  md:leading-[59.04px]
                  w-[676px]
                  md:w-[500px]
                  md:text-6xl
                  max-w-full
                  james_main_text
                  "
          >
            Color and Light: 
            <br />
            A Guide for the Realist Painter
          </h1>
          <div
            class="james-bg
                  text-[#0E100F]
                  text-opacity-60
                  text-lg
                  font-semibold
                  leading-10
                  capitalize
                  md:text-3xl
                  mt-1
                  bg-[#FFFCE1]
                  rounded-full
                  w-[50px]
                  h-[40px]
                  "
          >
            <div class="james-container flex justify-center">
              <span class="text-md md:text-[20px]"> James Gurney</span>
            </div>
          </div>
          <p class="mt-3 md:w-[450px] text-md font-extralight md:text-md james-ph [text-wrap:balance]">
            Un recurso esencial para los artistas que deseen dominar las complejidades del color y la luz en sus obras.
          </p>
        </div>
        <div class="w-full p-2 bg-white md:h-full md:w-auto md:m-5 james-cover">
          <img src="/L&C.webp" alt="FDFAIW cover" class="w-[300px] h-auto m-auto md:h-full md:w-auto james-img">
        </div>
    </main>
</section>


<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    const ScrollTriggerOptions = {
      trigger: ".james-section",
      start: "top 80%",
      end: "bottom bottom",
      scrub: 1,
      toggleActions: "restart none none none",
    }
  
    let tl = gsap.timeline({defaults: {stagger: 2},scrollTrigger:ScrollTriggerOptions});
    let tl2 = gsap.timeline({defaults: {stagger: 2},scrollTrigger:ScrollTriggerOptions});
  
    
    let mm = gsap.matchMedia()
    let breakpoint = 768
  
  
    mm.add({
        isDesktop: `(min-width: ${breakpoint}px) and (prefers-reduced-motion: no-preference)`,
        isMobile: `(max-width: ${breakpoint - 1}px) and (prefers-reduced-motion: no-preference)`,
        
      },
      (context) => {
        let { isDesktop, isMobile } = context.conditions;
  
        tl
        .from(".james_main_text",{
          duration: .4,
          x:-300,
          opacity: 0,
        })
        .from(".james-bg", {
          duration: .2,
          y: 40,
          opacity: 0,
          "border-radius": "20px",
        })
          .to(".james-bg", {
            width: isDesktop ? "280px" : "200px",
          })
          .from(".james-container", {
            duration: .5,
            x: 300,
            opacity: 0,
          })
          .from(".james-ph",{
            x:-300,
            opacity: 0,
            ease: "power2.out"
        });
  
        tl2.from(".james-cover",{
          duration: 1,
          height: 0,
        }).from(".james-img",{
          x: 1000,
          duration: 1,
          opacity: 0,
        })
        return () => {};
      }
    );
  </script>