---
import '../styles/main.css'
---

<section id="main-section" class="flex flex-col md:h-[calc(100dvh-86px)] md:flex-row justify-center">
    <main id="main" class="flex md:w-[400px] w-full justify-center flex-col md:mt-0 md:ml-0 md:px-5 px-5 md:justify-center">
      <div class="flex flex-col w-full md:w-auto">
        <div
          class="
            font-semibold
            leading-[97.5%]
            capitalize
            md:max-w-full 
            [font-size:clamp(55px,4vw,90px)]
          "
        >
          Dibujando
          <br />
          el camino
        </div>
        <div
          class="
            flex
            w-[253px]
            max-w-full
            items-start
            gap-2
            mt-1
            md:mt-1
            max-md:justify-start
          "
        >
          <div class="circle w-[30px] h-[30px] md:w-[50px] md:h-[50px] bg-red-500 rounded-full "></div>
          <div class="circle w-[30px] h-[30px] md:w-[50px] md:h-[50px] bg-blue-600 rounded-full"></div>
          <div class="circle w-[30px] h-[30px] md:w-[50px] md:h-[50px] bg-yellow-400 rounded-full"></div>
          <div class="circle w-[30px] h-[30px] md:w-[50px] md:h-[50px] bg-green-500 rounded-full"></div>
          <div class="circle w-[30px] h-[30px] md:w-[50px] md:h-[50px] bg-purple-500 rounded-full"></div>
          <div class="circle w-[30px] h-[30px] md:w-[50px] md:h-[50px] bg-orange-500 rounded-full"></div>
        </div>
        <div
          class="
            font-light
            leading-7
            md:leading-[38.24px]
            w-full
            max-w-full
            mt-5
            md:mt-5
            [font-size:clamp(24px,3vw,30px)]
          "
        >
          Recomendación de libros para desarrollar tu talento artístico
        </div>
      </div>
    </main>
    <div class="w-full h-auto p-5 md:p-2 md:flex md:items-center md:w-auto">
      <img src="/paint.jpg" class="w-full h-auto main-img md:max-w-[500px]" alt="imagen principal">
    </div>
</section>

  <script>
    import {gsap} from 'gsap'

    const TimelineConfig = {
      defaults: {
        ease: "power1.out",
        duration:1
      }
    }

    let tl = gsap.timeline(TimelineConfig);

    function MainAnimation(){
      return gsap.fromTo('#main',{
        opacity:0,
        x: -50,
      },{
        opacity:1,
        x:0,
      })
    }

    function CirclesAnimation() {
      return gsap.fromTo('.circle',{
      'scale':'0',
      opacity:0,
    },{
      'scale':'1',
      opacity:1,
      stagger:0.1,
    })
    }

    function ImageAnimation() {
      return gsap.fromTo('.main-img',{
        opacity:0,
        x: 20,
        scale:0,
      },{
        opacity:1,
        x:0,
        scale:1,
      })
    }

    tl.add(MainAnimation()).add(CirclesAnimation()).add(ImageAnimation())
    
  </script>
