<div
      class="
        text-white text-3xl
        font-semibold
        bg-[#0E100F]
        w-full
        pl-5
        md:pl-7
        pr-5
        py-6
        md:max-w-full
        border-b-2
        md:border-none
      "
    >
    <div class="flex">
      <span class="font-semibold text-white logo">MT</span>
    </div>
</div>



